version: '3.9'
services:
  app:
  build: .
  container_name: restaurant-backend
  restart: always
  env_file:
    - .env
  ports:
    - "3000:3000"
  depends_on:
    - postgres
  environment:
    DATABASE_URL: postgresql://postgres:postgres@postgres:5432/restaurantdb?schema=public
  volumes:
    - .:/usr/src/app
    - /usr/src/app/node_modules
  command: ["sh", "./init.sh"]


postgres:
  image: postgres:15
  container_name: restaurant-db
  restart: always
  environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_DB: restaurantdb
  ports:
    - "5432:5432"
  volumes:
    - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data: